.hijau{
	color: #189BCA;
}

.tebel{
	font-weight: bold;
}

.miring{
	font-style: italic;
}

.item{
	color: rgb(153,153,153)
}

.gede{
	font-size: 68px;
}

.tengah{
	text-align: center;
}

.bottomtext
{
	width: 100%;
	height: 80px;
	background: #000000;
	padding: 10px;
	text-align: center;
	position: relative;
	bottom: 0px;
}

.putihtext
{
	color: #ffffff;
}

.abuabu
{
	color: #666666;
}

      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }